{% extends 'shared/_layout.html' %}

{% block title %}فراموشی کلمه عبور{% endblock %}

{% block content %}
    <div class="col-md-6 container-lg position-relative p-0 px-lg-3">
        <div class="card border-0">
            <div class="card-header bg-primary text-center p-4">
                <h1 class="text-white m-0">فراموشی کلمه عبور</h1>
            </div>
            <div class="card-body rounded-bottom bg-white p-5">
                <form method="post" action="{% url 'forget_password_page' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        {{ form.email.errors }}
                    </div>

                    <p><a href="{% url 'forget_password_page' %}">بازیابی کلمه عبور</a></p>
                    <div>
                        <button class="btn btn-primary btn-block py-3" type="submit">فراموشی کلمه عبور</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}


