{% extends 'shared/_layout.html' %}

{% block title %}ثبت نام{% endblock %}

{% block content %}
    <div class="col-md-6 container-lg position-relative p-0 px-lg-3">
        <div class="card border-0">
            <div class="card-header bg-primary text-center p-4">
                <h1 class="text-white m-0">ورود به سایت</h1>
            </div>
            <div class="card-body rounded-bottom bg-white p-5">
                <form method="post" action="{% url 'register_page' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ register_form.email.label_tag }}
                        {{ register_form.email }}
                        {{ register_form.email.errors }}
                    </div>
                    <div class="form-group">
                        {{ register_form.password.label_tag }}
                        {{ register_form.password }}
                        {{ register_form.password.errors }}
                    </div>
                    <div class="form-group">
                        {{ register_form.confirm_password.label_tag }}
                        {{ register_form.confirm_password }}
                        {{ register_form.confirm_password.errors }}
                    </div>
                    <p><a href="{% url 'forget_password_page' %}">بازیابی کلمه عبور</a></p>
                    <div>
                        <button class="btn btn-primary btn-block py-3" type="submit">ثبت نام</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}



