{% extends 'shared/_layout.html' %}

{% block title %}بازیابی کلمه عبور{% endblock %}

{% block content %}
    <div class="col-md-6 container-lg position-relative p-0 px-lg-3">
        <div class="card border-0">
            <div class="card-header bg-primary text-center p-4">
                <h1 class="text-white m-0">بازیابی کلمه عبور</h1>
            </div>
            <div class="card-body rounded-bottom bg-white p-5">
                <form method="post" action="{% url 'reset_password_page' active_code=user.email_active_code %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ reset_pass_form.password.label_tag }}
                        {{ reset_pass_form.password }}
                        {{ reset_pass_form.password.errors }}
                    </div>
                    <div class="form-group">
                        {{ reset_pass_form.confirm_password.label_tag }}
                        {{ reset_pass_form.confirm_password }}
                        {{ reset_pass_form.confirm_password.errors }}
                    </div>
                    <div>
                        <button class="btn btn-primary btn-block py-3" type="submit">بازیابی کلمه عبور</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}





