{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load poll_extras %}
{% load thumbnail %}


{% block dis %} {{ article.short_description }} {% endblock %}
{% block title %} {{ article.title }} {% endblock %}

{% block content %}
    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Blog Detail Start -->
                    <div class="pb-3">
                        <div class="blog-item">
                            <div class="position-relative">
                                <img class="img-fluid w-100" src="{{ article.image.url }}" alt="{{ article.title }}">
                            </div>
                        </div>
                        <div class="bg-white mb-3" style="padding: 30px;">
                            <div class="d-flex mb-3">
                            </div>
                            <h2 class="mb-3">{{ article.title }}</h2>
                            <p>{{ article.text|safe }}</p>
                        </div>
                    </div>
                    <!-- Blog Detail End -->

                    <!-- Comment List Start -->
                    <div id="comments_area" class="bg-white" style="padding: 30px; margin-bottom: 30px;">
                        <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">{{ comments_count }}</h4>
                        {% for comment in comments %}
                            <div class="media">

                                <img src="{{ comment.user.avatar.url }}" alt="Image" class="img-fluid mr-3 mt-1"
                                     style="width: 45px;">
                                <div class="media-body">
                                    <h6><a href="">{{ comment.user }}</a>
                                        <small><i>{{ comment.create_date | time }}---</i></small><small><i>{{ comment.create_date|show_jalali_date }}</i></small>
                                    </h6>
                                    <p>{{ comment.text }}</p>
                                    <button class="btn btn-sm btn-outline-primary"
                                            onclick="fillParentId({{ comment.id }})">
                                        پاسخ
                                    </button>
                                    {#                                    ----------------------------------- 2div#}

                                </div>
                            </div>

                            {% for sub_comment in comment.articlecomment_set.all %}
                                <div class="media mt-4" style="color: #5bc0de">
                                    <img src="{{ sub_comment.user.avatar.url }}" alt="Image"
                                         class="img-fluid mr-3 mt-1"
                                         style="width: 45px;">
                                    <div class="media-body">
                                        <h6><a href="">{{ sub_comment.user }}</a>
                                            <small><i>{{ sub_comment.create_date | time }}</i></small><small><i>{{ sub_comment.create_date|show_jalali_date }}</i></small>
                                        </h6>
                                        <p style="color: #5bc0de"> {{ sub_comment.text }}</p>
                                        <button class="btn btn-sm btn-outline-primary">پاسخ</button>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <!-- Comment List End -->

                    <!-- Comment Form Start -->
                    <div class="bg-white mb-3" style="padding: 30px;">
                        <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">ارسال نظر</h4>

                        <input type="hidden" id="parent_id" value="">
                        <div class="form-group">
                            <label for="message">پیام *</label>
                            <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="form-group mb-0">
                            <input type="submit" value="ارسال نظر"
                                   class="btn btn-primary font-weight-semi-bold py-2 px-3"
                                   onclick="sendArticleComment({{ article.id }})">
                        </div>
                    </div>
                    <!-- Comment Form End -->
                </div>


                <div class="col-lg-4 mt-5 mt-lg-0">
                    <!-- Author Bio -->
                    <div class="d-flex flex-column text-center bg-white mb-5 py-5 px-4">
                        {% render_partial 'article_module.views.article_categories_component' %}
                        <div class="d-flex justify-content-center">
                        </div>
                    </div>

                    <!-- Search Form -->
                    <div class="mb-5">
                        <div class="bg-white" style="padding: 30px;">
                            <div class="input-group">
                                <div class="carousel-inner">


                                    {% for banner in banners %}
                                        <a href="{{ banner.url }}">
                                            <img src="{{ banner.image.url }}" alt="{{ banner.title }}" id="banner">
                                        </a>
                                    {% endfor %}
                                    <br>
                                    <br>


                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Recent Post -->
                    <div class="mb-5">
                        <h4 class="text-uppercase mb-4" style="letter-spacing: 5px;">Recent Post</h4>
                        <a class="d-flex align-items-center text-decoration-none bg-white mb-3" href="">

                            <div class="pl-3">
                                <h6 class="m-1 text-center">نویسنده : فورنیکو</h6>
                                <small>{{ article.get_jalali_create_date }}</small>
                            </div>
                        </a>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->

{% endblock %}
